

.box {

    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 100px auto;
    box-shadow: 0px 0px 10px 2px grey;
    border: 10px solid red;
    background-image: url("../images/psychic-ability.jpg");
    background-size: cover;
}


p {

    font-family: 'Lobster', cursive;
    color: aliceblue;
}
.navbar-brand {

    color: #FFFFFF;
}